<vgr-page-block>
  <h3>Primärknappar</h3>
  <vgr-button [buttonStyle]="'primary'">Aktiv</vgr-button>
  <vgr-button [buttonStyle]="'primary'" [disabled]="true">Inaktiv</vgr-button>

  <h3>Sekundärknappar</h3>
  <vgr-button [buttonStyle]="'secondary'">Aktiv</vgr-button>
  <vgr-button [buttonStyle]="'secondary'" [disabled]="true">Inaktiv</vgr-button>

  <h3>Diskreta knappar</h3>
  <vgr-button [buttonStyle]="'discreet'">Aktiv</vgr-button>
  <vgr-button [buttonStyle]="'discreet'" [disabled]="true">Inaktiv</vgr-button>
</vgr-page-block>
